body {
}

#content {
width:600px;
height:600px;
background-color:blue; 
}

#cirkel {
    
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:#fff;
    margin-left:auto;
    margin-right:auto;
    
}

#Items {
    width:55%;
    margin-left:auto;
    margin-right:auto;
    margin-top:500px;
}



#item1 {
    background-color:red;
}

#item2 {
    background-color:yellow;
}

#item3 {
    background-color:green;
}

#Items ul li{
    
float:left;
margin-left:30px;
width:50px;
height:50px;
border-radius:50%;
opacity:0;
}

.bounce1 {
-webkit-animation: cirkelBounce 1.5s;
-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes cirkelBounce {

0% { -webkit-transform: translateY(300px); opacity:0;}
60% { -webkit-transform: translateY(100px); opacity:1;}
90% { -webkit-transform: translateY(130px); opacity:1;}
100% { -webkit-transform: translateY(-100px); opacity:1;}
}

.achtergrond {
    
-webkit-animation: kleurVerandering 1s;
-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
-webkit-animation-fill-mode:forwards;
    
}

@-webkit-keyframes kleurVerandering {

0% { -webkit-transform:;background-color:blue;}
95% { -webkit-transform:;background-color:orange;}    
100% { -webkit-transform:;background-color:orange;}
}

.buitensteItem {
    
    -webkit-animation: bewegingBuiten 1.5s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    
}

@-webkit-keyframes bewegingBuiten {

0% { -webkit-transform: translateY(-200px); opacity:0;}
40% { -webkit-transform: translateY(-500px); opacity:1;}
60% { -webkit-transform: translateY(-470px); opacity:1;}
100% { -webkit-transform: translateY(-500px); opacity:1;}
}

.binnensteItem {
    
    -webkit-animation: bewegingBinnen 1.5s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
    
}

@-webkit-keyframes bewegingBinnen {

0% { -webkit-transform: translateY(-200px); opacity:0;}
40% { -webkit-transform: translateY(-500px); opacity:1;}
60% { -webkit-transform: translateY(-470px); opacity:1;}
100% { -webkit-transform: translateY(-500px); opacity:1;}
}
