.bol {

position:absolute;
left: 50px;
top:50px;
border-radius:50%;
width:50px;
height:50px;
    
}

#gele-bol {
background-color:yellow;
z-index:3;
}

#rode-bol {
background-color:red;
z-index:2;
}

#groene-bol {
background-color:green;
z-index:1;
}

.moveYellow {
    
-webkit-animation: YellowAnimation 2s;
-webkit-animation-fill-mode:forwards;

}

@-webkit-keyframes YellowAnimation

{
    
    0% { }
    100% { -webkit-transform: translateY(150px);}
    
}

.moveRed {
-webkit-animation: RedAnimation 2s;
-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes RedAnimation
{
0% { }
100% { -webkit-transform: translateX(150px);}
}

.moveGreen {
-webkit-animation: GreenAnimation 2s;
-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes GreenAnimation
{
0% { }
100% { -webkit-transform: translateX(150px) translateY(150px);}
}

*/