body {
background-color:#293D51;
width:900px;
}

#header {
 background-color:#fff;
border-radius:10px;
}

.headerRotate {
-webkit-animation: RotateHeader 2s;
-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes RotateHeader {

0% { -webkit-transform: perspective(400px) rotateX( 90deg );}
20% { -webkit-transform: perspective(400px) rotateX( -2deg ); }
30% { -webkit-transform: perspective(400px) rotateX( 8deg ); }
60% { -webkit-transform: perspective(400px) rotateX( 0deg );}
100% { -webkit-transform: perspective(400px) rotateX( 0deg );}
}

.headerFly {
-webkit-animation: FlyInHeader 0.7s;
-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes FlyInHeader {

0% { -webkit-transform: translateX(-40px); opacity:0;}
100% { -webkit-transform: translateX(40px); opacity:1;}
}


#profiles ul li {
    float:left;
    margin: 0 10px 0 10px;
}

#profiles ul li img {
 border-radius:10%;
}

.profielfoto {

}

.divProfile {
-webkit-transform-origin: left bottom;
-webkit-animation: profilesSweep 2s;
-webkit-animation-fill-mode:forwards;
}

.divProfiles ul li {
transition: -webkit-transform 1s;
}

.divProfile ul li:hover {
-webkit-transform: scale(1.05);
}

@-webkit-keyframes profilesSweep {

0% { -webkit-transform: perspective(400px) rotateY( 90deg );}
20% { -webkit-transform: perspective(400px) rotateY( -2deg ); }
30% { -webkit-transform: perspective(400px) rotateY( 8deg ); }
60% { -webkit-transform: perspective(400px) rotateY( 0deg );}
100% { -webkit-transform: perspective(400px) rotateY( 0deg );}
}

