body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

.mainUser {

color:#000066;
width:25%;
font-size:15px;
font-style:bold;
}

.subUser {
color:red;
width:25%;
font-size:15px;
font-style:bold;
}

#lijstVragen {
list-style-type: none;
}

a {
  color: #00B7FF;
}
