<!DOCTYPE html>
<html ng-app="imdApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Bar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load theme styles -->
    <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css"/>

    <link rel="stylesheet" href="assets/css/styles.css"/>
</head>

<body>
<div class="container" ng-controller="myController" ng-init="init()">
    <h1>Digital Bar</h1>

    <div class="center">
        <label for="name">Tell me, what is your name?</label>
        <input type="text" id="name" name="name" ng-model="myName"/>

        <p ng-if="myName">Hello {{myName}}, order some drinks!</p>
    </div>

    <div ng-if="myName" class="productsContainer">

        <div class="orderAdd">
            <input type="text" placeholder="Zoek een product" ng-model="productSearch"/>

            <ul class="productList">
                <li ng-repeat="product in products | filter:productSearch">
                    <span class="name">{{product.name}}</span>
                    <small class="quantity">{{product.qty || '0'}}</small>
                    <button ng-click="product.qty = product.qty + 1">+</button>
                    <button ng-click="product.qty = product.qty - 1">-</button>
                </li>
            </ul>

            <button class="action" ng-click="addOrder()">Send your order</button>
            <p ng-if="status.orderSent">Your order has been added!</p>

        </div>


        <div class="addProduct">
            <label>Nieuw Product</label>

            <div class="input-wrapper">
                <input type="text" placeholder="Productnaam" ng-model="newDrink.name"/>
            </div>
            <button class="action" ng-click="addProduct()">Add product</button>
        </div>
    </div>
</div>

<!-- SCRIPTS ///////////////////////////////////////////////////// -->

<!-- ANGULAR -->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>
<script src="assets/bower_components/lodash/lodash.js"></script>
<script src="assets/bower_components/angular/angular.js"></script>

<!-- LOCAL SCRIPT-->
<script>
    // Insert Angular magic here

    // API URL: 'http://imd.district01.be'
    // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
    // ORDER: 'http://imd.district01.be/order' (POST)


    var app = angular.module('imdApp', []);

    app.controller('myController', function ($scope, $http) {

        $scope.myName = "Lucas";
        $scope.newDrink = {name: undefined};
        //$scope.newOrder = {username: $scope.myName};
        $scope.newOrder = {username: $scope.myName, products: undefined};
        $scope.status = {orderSent: false};

        $scope.init = function init() {
            $scope.getAll();
        };

        $scope.getAll = function getAll() {

            $http.get('http://imd.district01.be/product').
                    success(function (data, status, headers, config) {
                        $scope.products = data;
                    }).
                    error(function (data, status, headers, config) {
                        // log error
                    })

        };

        $scope.addProduct = function addProduct() {

            $http.post('http://imd.district01.be/product', $scope.newDrink).
                    success(function (data, status, headers, config) {
                        $scope.getAll();
                    }).
                    error(function (data, status, headers, config) {

                    });

        };

        $scope.addOrder = function addOrder() {

            var orders = [];
            angular.forEach($scope.products, function (value, key) { //Value kan ook een andere naam hebben zoals drink.

                if (value.qty > 0) { //drink.qty > 0 is ook mogelijk.

                    this.push({

                        _id: value._id,
                        name: value.name,
                        quantity: value.qty
                    });

                };

            }, orders);

            $scope.newOrder.products = orders;

            $http.post('http://imd.district01.be/order', $scope.newOrder).
                    success(function (data, status, headers, config) {
                        $scope.status.orderSent = true;
                    }).
                    error(function (data, status, headers, config) {

                    });

        };

    });

</script>

</body>

</html>
