extends ../layout

link(href='../stylesheets/style.css', rel='stylesheet')

block content
  h1 Welkom op de IMD vragen pagina
  p Geef een username op en je kan vragen stellen aan IMD'ers
  
  div#formQuestions
        label(for='username') Username
           input(id='username',type='text',value='',placeholder='Geef je username',name='username')
           br
           br
        label(for='question') Question
           input(id='question',type='text',value='',placeholder='Stel hier je vraag',name='question')
           br
           br
        input#submitKnop(type='submit',value='Verzenden')
  ul#lijstVragen
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/questions.js")
  script(src="/javascripts/list.js")

  script(type="text/javascript").
    var socket = io();
    $('input#submitKnop').click( function() {
    var question = $("#question").val();
    var username = $("#username").val();
    var data = { 
    "username": username,
    "question": question
    }
    socket.emit('chat message', data);
    $("#username").prop('disabled', true);
    $("#question").val('');
    return false;
    });

    socket.on('chat message', function(msg){
    console.log(msg.username);
    console.log(msg.question);
      var User = "subUser";
      if(msg.username == $("#username").val()) {
      User = "mainUser";
      console.log("If gelukt");
      }

    $("#lijstVragen").append("<li><div class='"+User+"'>"+ msg.username+"</div><div class='question'>"+ msg.question+"</div></li>");
    });
